#%RAML 1.0
title: American Flights System API
baseUri: https://american-flights-system-proxy-app-ha5esl.5sc6y6-3.usa-e2.cloudhub.io/api

securitySchemes:
    basicAuth:
        description: Need to provide Client ID and Client Secret obtained from the Anypoint Platform 
        type: Basic Authentication

types:
    AmericanFlight: !include types/AmericanFlightDataType.raml

traits:
  errorTraits: !include traits/ErrorTraits.raml

securedBy: [basicAuth]
/flights:
    description: Resource **/flights** represents a collection of flights.
    get:
        description: Retrieve a list of flights based on optional query parameters.
        is: [errorTraits]
        queryParameters:
            destination:
                description: Filter flights by destination
                required: false
                enum: ['SFO', 'LAX', 'CLE']
        responses:
            200:
                body:
                    application/json:
                        type: AmericanFlight[]
                        examples:
                            output: !include  examples/AmericanFlightsExample.raml        
    post:
        description: Create a new flight.
        is: [errorTraits]
        body:
            application/json:
                type: AmericanFlight
                examples:
                    input: !include examples/AmericanFlightNoIDExample.raml
        responses:
            201:
                body:
                    application/json:
                        example:
                            message: Flight successfully created

    /{ID}:
        description: Resource **/flights/{ID}** represents an individual flight identified by its unique ID.
        get:
            description: Retrieve details for a specific flight identified by the provided ID.
            is: [errorTraits]
            responses:
                200:
                    body:
                        application/json:
                            type: AmericanFlight
                            examples:
                                output: !include examples/AmericanFlightExample.raml
        delete:
            description: Delete specific flight identified by the provided ID,
            is: [errorTraits]
            responses:
                200:
                    body:
                        application/json:
                            example:
                                message: Flight successfully deleted 
